<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1026964054527-u9vjsjep34qrjq0dt34jdu7mbkqc5sof.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026964054527-u9vjsjep34qrjq0dt34jdu7mbkqc5sof</string>
	<key>API_KEY</key>
	<string>AIzaSyDeiORkNMxYZP_0HQ_imAmbz88-axjvJlU</string>
	<key>GCM_SENDER_ID</key>
	<string>1026964054527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.simpumind.PhoneBook</string>
	<key>PROJECT_ID</key>
	<string>phonebook-3b0fa</string>
	<key>STORAGE_BUCKET</key>
	<string>phonebook-3b0fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026964054527:ios:a59c2d9be73f2eba</string>
	<key>DATABASE_URL</key>
	<string>https://phonebook-3b0fa.firebaseio.com</string>
</dict>
</plist>